
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


.swiper{
  min-width: 600px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;  
}

.swiper-slide-content {
  min-width: 400px;
  min-height: 600px;

  position: absolute;  
  box-sizing: border-box;

  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;

}
/* .swiper-slide-content:hover{
  transform: rotateY(180deg)
} */
.flipped{
  transform: rotateY(180deg)
}

.slide-front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #01B7C5;
  /* border: 1px solid #01B7C5; */
  background: var(--dark-gradient, linear-gradient(224deg, #00E5E5 8.72%, #72A5F2 50.87%, #E961FF 91.3%));
}
.slide-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #01B7C5;
  /* background: var(--dark-gradient, linear-gradient(224deg, #00E5E5 8.72%, #72A5F2 50.87%, #E961FF 91.3%)); */
  background: #01B7C5;
  transform: rotateY(180deg);
}
.slide-header{
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.30);
}
.slide-body{
  width: 100%;
  height: 75%;  /*////////////////////////*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 10px auto;
}

.text{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin: 15px;
}

.slide-footer{
  width: 100%;
  height: 100px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C2F48;
  box-sizing: border-box;
}

.footer-btn{
  width: 90px;
  height: 40px;
  border-radius: 5px;
  background-color: #72A5F2;
}


